
.container button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; 
  text-align: center;

}
.col-sm{
  text-align: center;
  border: 1px solid black; 
  
}
.container{
  background-color:rgb(193, 193, 240);
  width:480px;
  margin-bottom: 10px;

}
body {
  font-family:Garamond, serif;
}
.col-sm:hover{
  background-color:rgb(77, 77, 128);
}
 
.ds{
  width:400px;
}
h1{
  text-align:center

}
@media (max-width: 499px) {
  body {
    background-color: black; }

  h1, p, h3 {
    color: white; }

  .lead {
    width: 50%;
    text-align: center;
    font-weight: bold; } }
th a {
  font-weight: bold;
  text-decoration-line: underline; }

div p {
  width: 70%; }

a > button {
  width: 100%; }

